<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BCIT Campus Map</title>
  <meta name="mapbox-token" content="<%- MAPBOX_TOKEN %>">
  <link href="/vendor/mapbox-gl/mapbox-gl.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/bcit-map.css" />

  <!-- Firebase config for front-end -->
  <script>
    window.firebaseConfig = {
      apiKey: "<%= process.env.FIREBASE_API_KEY %>",
      authDomain: "<%= process.env.FIREBASE_AUTH_DOMAIN %>",
      projectId: "<%= process.env.FIREBASE_PROJECT_ID %>",
      storageBucket: "<%= process.env.FIREBASE_STORAGE_BUCKET %>",
      messagingSenderId: "<%= process.env.FIREBASE_MESSAGING_SENDER_ID %>",
      appId: "<%= process.env.FIREBASE_APP_ID %>"
    };
  </script>

</head>

<body>
  <div id="map">
    <!-- SEARCH BAR INSIDE MAP, TOP-LEFT -->
    <div class="map-search">
      <input
        id="searchInput"
        type="text"
        placeholder="Search building or room (e.g., SW3 or SW3-1635)"
      />
      <button id="searchBtn">Go</button>
    </div>
  </div>


  <script defer src="/vendor/mapbox-gl/mapbox-gl.js"></script>
  <script defer>window.MAPBOX_TOKEN = "<%- MAPBOX_TOKEN %>";</script>

  <!-- core map setup + plugins -->
  <script type="module" src="/js/bcit-map-core.js"></script>
  <script type="module" src="/js/bcit-map-floors.js"></script>
  <script type="module" src="/js/bcit-map-search.js"></script>
  
</body>

</html>
